<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
    <title>CheckMate</title>
</head>
<body class="body">
    <div class="container">

        <h1 class="title">Benvenuto su CheckMate - Gestore di compiti</h1>

        <p class="text">Gestisci le tue task in modo semplice</p>

        <hr class="title">

        <p class="text">Sei già registrato? Accedi!</p>
        <a class="button" href="/login">Login</a>

        <p class="text">Prima volta? Registrati!</p>
        <a class="button" href="/register">Registrati</a>

        <footer class="site-credit">
            Web Site by
            <a class="site-link" href="https://github.com/jacopo-nesti">
                Jacopo
            </a>
        </footer>

    </div>
</body>
</html>
