<!DOCTYPE html>
<html>

<head>
    <title>CheckMate - Gestore compiti</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="body">

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    
    <script src="{{ url_for('static', filename='tasks.js') }}" defer></script>

    <div class="container">

        <h1 class="title">
            CHECKMATE - GESTORE COMPITI PERSONALE
        </h1>

        <!-- DATA DI OGGI -->
        <p class="data"></p>

        <hr>

        <!-- ADD TASK -->
        <p class="text">
            Cosa hai da fare oggi?
        </p>

        <form class="task-form">
            <input
                class="form-input"
                type="text"
                id="taskInput"
                placeholder="scrivi qui..."
            >
        </form>

        <button class="button" onclick="addTask()">
            Clicca per inviare
        </button>

        <!-- CONTENUTO SHOW TASK -->
        <p class="text">
            Vedi cosa devi fare...
        </p>

        <button class="button" onclick="window.location.href='/tasks'">
            Visualizza i tuoi compiti
        </button>

        <!-- AFORISMA CASUALE -->
        <p class="aforisma">
            Clicca qua sotto per una nuova frase motivazionale!
        </p>

        <button class="button" onclick="nuovoAforisma()">
            Nuova Motivazione
        </button>

        <!-- LINK -->
        <p class="link">
            <a class="link-chatgpt" href="https://chatgpt.com/">
                Se hai dubbi, chiedi a me!<br>
                E non procrastinare dell'altro...
            </a>
        </p>

        <!-- WEB SITE BY -->
        <footer class="site-credit">
            Web Site by
            <a class="site-link" href="https://github.com/jacopo-nesti">
                Jacopo
            </a>
        </footer>

    </div>

</body>

</html>