<!DOCTYPE html>
<html>

    <head> 
        <title>CheckMate - Gestore compiti </title>
    </head>

    <!-- BACKGROUND -->
    <body>
        <link rel="stylesheet" href="static\style.css">
    </body>

        <!-- TITOLO -->
        <h1>
            <link rel="stylesheet" href="static\style.css">
            CHECKMATE - GESTORE COMPITI PERSONALE
        </h1>

        <!-- DATA DI OGGI -->
        <p id="data"></p>
        <script src="static\script.js" defer></script>
        <link rel="stylesheet" href="static\style.css">

        <HR>

        <!-- IMMAGINE -->
       <img class="procrastination-img"
        src="{{ url_for('static', filename='procrastination.png') }}"
        width="800"
        height="480">

        <!-- CONTENUTO ADD TASK -->
        <p class="add-task-text">
            Cosa hai da fare oggi?
        </p>

        <form class="form-write-here">
            <input class="form-input"
            type="text"
            id="taskInput"
            placeholder="scrivi qui...">
        </form>

        <button class="button-add-task"
            onclick="addTask()">
            Clicca per inviare
        </button>

        <script src="{{ url_for('static', filename='tasks.js') }}" defer></script>

         <!-- CONTENUTO SHOW TASK -->
        <p class="show-task">
            Vedi cosa devi fare...
        </p>

        <button class="button-show-task" onclick="window.location.href='/tasks'">
            Visualizza i tuoi compiti
        </button>

        <!-- AFORISMA CASUALE -->
        <p id="aforisma">
            Clicca qui per un aforisma casuale!
        </p>

        <button class="button-aforisma" onclick="nuovoAforisma()">
            Nuovo aforisma
        </button>

        <!-- LINK -->
        <p class="link">
            <a class="link-chatgpt" href="https://chatgpt.com/">
                Se hai dubbi, chiedi a me!<BR>E non procrastinare dell'altro...
            </a>
        </p>

        <!-- WEB SITE BY -->
        <footer class="site-credit">
            Web Site by
            <a class="site-link" href="https://github.com/jacopo-nesti">
                Jacopo
            </a>
        </footer>

    </body>

</html>