<!DOCTYPE html>
<html>

    <head> 
        <title>Lista Compiti</title>
    </head>

<!-- BACKGROUND -->
    <body>
        <link rel="stylesheet" href="static\style.css">
    </body>

        <!-- TITOLO -->
        <h1 link rel="stylesheet" href="static\style.css">
            LISTA COMPITI
        </h1>

        <HR>

        <!-- PULSANTE INDIETRO -->
        <button class="back-button" onclick="history.back()">
            ← Indietro
        </button>

        <!-- CONTENITORE PER LE TASK -->
        <ul id="taskList"></ul>

        <!-- SCRIPT -->
        <script src="{{ url_for('static', filename='tasks.js') }}" defer></script>

        <!-- FOOTER / TESTO FINALE -->
        <p class="footer-text"></p>

        <!-- DATA DI OGGI -->
        <p id="data"></p>
        <script src="static\script.js" defer></script>
        <link rel="stylesheet" href="static\style.css">

        <!-- WEB SITE BY -->
        <footer class="site-credit">
            Web Site by
            <a class="site-link" href="https://github.com/jacopo-nesti">
                Jacopo
            </a>
        </footer>

    </body>
</html>
