<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista Compiti</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='tasks.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body class="background">

    <main class="container">

        <!-- TITLE -->
        <h1 class="title">
            LISTA COMPITI
        </h1>

        <p class="data" id="data"></p>

        <hr class="divider">

        <!-- BACK BUTTON -->
        <button class="back-button" onclick="history.back()">
            ← Indietro
        </button>

        <!-- TASK LIST -->
        <ul id="taskList" class="task-list"></ul>

        <!-- FOOTER -->
        <footer class="site-credit">
            Web Site by
            <a class="site-link" href="https://github.com/jacopo-nesti">
                Jacopo
            </a>
        </footer>

    </main>

</body>

</html>